{{#each posts as |post|}}
  <section data-id="{{post._id}}" class="practice-item">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        {{post.title}}<br>
        {{post.owner}}
        {{post.createdAt}}
        {{post.body}}
        <button data-id="{{post._id}}" type="button" class="btn btn-outline-success my-2 my-sm-0 view-modal" data-toggle="modal" data-target="#viewModalLong">
          View
        </button>
      </div>
    </div>
  </section>

{{/each}}
