{{#each tomes as |tome|}}
  <section data-id="{{tome._id}}" class="tome-item">
    <div class="card border-dark" style="width: 15rem;">
      <div class="card-body">
        <div>
          <h3 class="cover-text">{{limit tome.title 20}}</h3>
          <p class="cover-text">Author: {{tome.owner.email}}</p>
          <p class="cover-text">{{tome.createdAt}} {{tome.createdTime}}</p>
          <p class="cover-text">commments: {{length tome.notes}}</p>
          <button data-id="{{tome._id}}" type="button" class="btn btn-outline-warning my-2 my-sm-0 view-modal cover-text" data-toggle="modal" data-target="#viewModalLong">
            Read
          </button>
          {{#if tome.favorite}}
          <button data-id="{{tome._id}}" type="button" class="btn btn-outline-warning my-2 my-sm-0 toggle-favorite cover-text">
            Remove
          </button>
          {{else}}
          <button data-id="{{tome._id}}" type="button" class="btn btn-outline-warning my-2 my-sm-0 toggle-favorite cover-text">
            Favorite
          </button>
          {{/if}}
        </div>
      </div>
    </div>
  </section>

{{/each}}
