{{#each posts as |post|}}
  <section data-id="{{post._id}}" class="post-item">
    <div class="card" style="width: 15rem;">
      <div class="card-body">
        <h3>{{post.title}}</h3>
        <p>Wtritten by: {{post.owner.email}}</p>
        <p>{{post.createdAt}}</p>
        <p>commments: {{length post.comments}}</p>
        <button data-id="{{post._id}}" type="button" class="btn btn-outline-primary my-2 my-sm-0 view-modal" data-toggle="modal" data-target="#viewModalLong">
          View
        </button>
      </div>
    </div>
  </section>

{{/each}}
