{{#if tome.notOwn}}
{{#if tome.favorite}}
<button data-id="{{tome._id}}" type="button" class="btn btn-secondary my-2 my-sm-0 toggle-favorite float-right align-middle input-button">
  Remove
</button>
{{else}}
<button data-id="{{tome._id}}" type="button" class="btn btn-warning my-2 my-sm-0 toggle-favorite fav-btn float-right align-middle input-button">
  Archive
</button>
{{/if}}
{{/if}}
{{#if tome.notes}}
<button class="btn btn-dark float-right input-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Notes
</button>
{{/if}}
{{#if tome.notOwn}}
{{#if tome.liked}}
<button data-id="{{tome._id}}" type="button" class="btn btn-danger my-2 my-sm-0 toggle-like float-right align-middle input-button">
  Unlike
</button>
{{else}}
<button data-id="{{tome._id}}" type="button" class="btn btn-success my-2 my-sm-0 toggle-like float-right align-middle input-button">
  Like
</button>
{{/if}}
{{/if}}
