<a data-toggle="collapse" data-target="#Uploadcollapse"><img class="profile-image" src="{{user.imageUrl}}"></a>
<div="user-header">
  <h4 class="user-header">User: {{user.email}}</h4>
  <h4 class="user-header">joined: {{user.createdAt}}</h4>
</div>
<div class="collapse" id="Uploadcollapse">
  <div class="col lg-2 avatar-form">
    <form id="avatar" >
      <input type="file" name="image" required="required" accept="image/png, image/jpeg">
      <button type="button" class="btn btn-secondary upload-btn" id="submit-avatar">
        Submit
      </button>
    </form>
  </div>
</div>
<div class="bio">
  <h2>Bio:</h2>
  <textarea id='bio-edit' class='form-input form-control paper-input' data-toggle="collapse" data-target="#bioSubmitCollapse" rows='4' cols='100'>{{user.bio}}</textarea>
  <div class="collapse" id="bioSubmitCollapse">
  <button type="button" class="btn btn-secondary bio-submit-button" id="bio-submit">Submit</button>
</div>
<div class="account-stats">
  <h4>Stats:</h4>
  <p>Tomes: {{length user.tomes}}</p>
  <p>Likes received: {{user.numLikes}}</p>
  <p>Times Archived: {{user.numFavs}}</p>
  <p>Notes left: {{user.numNotes}}</p>
</div>
<div class="acount-auth">
  <!-- Change Password -->
  <button type="button" class="btn btn-secondary change-pass-btn" data-toggle="modal" data-target="#changePasswordModal">
    Change Password
  </button>
  <!-- Sign Out -->
  <button id="sign-out-btn" class="btn btn-secondary input-button">
    Sign Out
  </button>
</div>
