<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title" id="view-title"><h3>{{post.title}}<h3><h5>Written by: {{post.owner.email}} on {{post.createdAt}}</h5></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="view-body">
        <p class="written-text">{{post.body}}</p><br>
        {{#each post.comments as |comment|}}
        <div class="fancy-break"></div>
        <div class="single-comment">
          <div>
            <h5>{{comment.ownerName}} ~~~ </h5>
          </div>
          <div class="comment-body" data-id="{{comment._id}}">
            <p class="written-text">{{comment.body}}</p><br>
          </div>
        </div>
        {{/each}}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
