<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title" id="view-title"><h3>{{tome.title}}<h3><h5>Written by: {{tome.owner.email}} on {{tome.createdAt}}</h5></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="view-body">
        <p class="written-text">{{tome.body}}</p><br>
        <div class="fancy-break"></div>
        {{#each tome.notes as |note|}}
        <div class="single-note">
          <div>
            <h5>~ {{note.ownerName}} ~</h5>
          </div>
          <div class="note-body" data-id="{{note._id}}">
            <p class="written-text">{{note.body}}</p><br>
          </div>
        </div>
        <div class="fancy-break"></div>
        {{/each}}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
